/* Layout Styles */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.stopwatch  {
  position: sticky;
  scroll-snap-align: center;
  height: 350px;
  display: flex;
  padding: 50px, 50px;
  justify-content: center;
  align-items: top;
  color: rgb(73, 73, 73);


}

.tasklist  {
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
  padding: 500px, 50px;
  justify-content: center;
  align-items: top;
  color: rgb(73, 73, 73);
  font-size: 45px;
}

.kanban {
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
  padding: 50px, 50px;
  justify-content: center;
  align-items: top;
  color: rgb(73, 73, 73);
  font-size: 45px;
}

.pomodoro {
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
  padding: 50px, 50px;
  justify-content: center;
  align-items: top;
  color: rgb(73, 73, 73);
  font-size: 45px;
}

.dictionary {
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
  padding: 50px, 50px;
  justify-content: center;
  align-items: top;
  color: rgb(73, 73, 73);
  font-size: 45px;
}

.sidenav {
  width: 185px;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 0px;
  overflow-x: hidden;
  padding: 10px 0;
}

.sidenav a {
  padding: 60px 8px 6px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: rgb(54, 0, 124);
  display: block;
}

.sidenav a:hover {
  color: rgb(147, 64, 255);
}

.main {
  margin-left: 175px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-width: 650px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  .section {
  font-size: 25px;
  }

    .section2 {
  font-size: 25px;
  }

    .section3 {
  font-size: 25px;
  }

    .section4 {
  font-size: 25px;
  }
  .main {
  font-size: 15px
  }

}

/* Stopwatch */



.container {
  padding: 15px;
  border-radius: 5px;
  color: rgb(56, 56, 56);
}

.buttons {
  display: flex;
  margin: 10px -5px 0;
}

.buttons button {
  flex: 1;
  margin: 0 5px;
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(0, 158, 163);
  outline: none;
  cursor: pointer;
}

.buttons button:hover {
  color: rgb(54, 0, 124);
  background-color: #ffffff;
}

/* Kanban */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  background-color: white;
  height: 70px;
  border-bottom: solid 1px lightgray;
}
body {
  background-color: #F5F7FA;
}
#app {
  margin-left: 100px;
}
#board {
  margin-top: 60px;
  display: flex;
}
#infos {
  display: flex;
}
#infos .square {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background-color: rgb(132, 0, 255);
}
#infos .square #letter {
  font-size: 36px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 900;
  margin: 5px 0px 0px 16px;
}
#infos #infos-content {
  margin-left: 24px;
}
#infos .infos-title {
  font-family: 'Lato';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1B2437;
}
#infos .infos-company {
  font-family: 'Lato';
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  color: #AAACAF;
}
#add-task-form {
  position: absolute;
  right: 100px;
  display: flex;
}
#add-task-form #task-value {
  padding-left: 16px;
  margin-top: 1px;
  height: 46px;
  width: 240px;
  border-radius: 0px;
  margin-right: 8px;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 19px;
  border: none;
}
#add-task-form #task-value ::placeholder {
  color: #E4E6E8;
}

#add-task-form #add-task {
  background: #4786FF;
  border: none;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  font-family: Lato;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
#add-task-form #add-task:focus {
  outline: 0;
}
#add-task-form #add-task:hover {
  box-shadow: 0px 4px 20px rgba(71, 134, 255, 0.5);
}
#columns {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.column {
  flex: 0 0 auto;
  width: 340px;
  height: 520px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 1px;
  margin-left: 40px;
  background-color: white;
}

.column:nth-child(1) {
  margin-left: 0px;
}
.column:hover {
  border: 3px solid rgb(98, 0, 255);
}

.column-title {
  margin: 24px 0px 0px 24px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.task {
  list-style-type: none;
  margin: 16px 0px 0px 24px;
  padding: 10px 8px 10px 10px;
  position: relative;
  background-color: white;
  border: 1px solid #EBEDF0;
  box-sizing: border-box;
  border-radius: 2px;
  min-height: 80px;
  width: 288px;
}
.task:nth-child(1) {
  margin-top: 32px;
}
.task .task-content {
  margin: 16px 16px 0 16px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #54585A;
}
.task:hover {
  background: #FFFFFF;
  border: 3px solid rgb(98, 0, 255);
  box-sizing: border-box;
  border-radius: 2px;
}
.task .trash {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-family: 'Lato';
  color: #54585A;
}
.task .trash:hover {
  cursor: pointer;
}
.hold:active:hover {
  border: solid 3px blue;
}
.hovered {
  border-style: dashed;
}
.invisible {
  display: none;
}

/* Pomodoro */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 35px;

  background: rgb(243, 243, 243);
  color: #131313;
  font-family: "Montserrat", sans-serif;
}
h1 {
  margin: 15px 0;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}
input {
  transition: 0.5s ease-in-out;
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.11);
  border: none;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin: 35px 0;
}
button {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  transition: 0.25s ease-in-out;
}

button:hover {
  background-color: rgb(226, 112, 255);
  cursor: pointer;
}

label {
  font-size: 12px;
}
form {
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 370px;
  margin: 5px auto;
}
form button {
  background: rgb(162, 0, 255);
  width: 100%;
  margin: 5px 0;
  color: white;
}
.start {
  background: rgb(162, 0, 255);
  color: white;
}

.start:hover {
  background-color: rgb(204, 116, 255); 
  cursor: pointer;
}


.break {
  background: rgb(162, 0, 255);
  color: #000000;
}
.reset {
  background: rgb(121, 121, 121);
  color: #ffffff;
}

.reset:hover {
  background-color: rgb(206, 206, 206);
  cursor: pointer;
}

.pause {
  background: rgb(0, 139, 128);
  color: #ffffff;
}

.pause:hover {
  background-color: rgb(55, 255, 238);
  cursor: pointer;
}

.resume {
  background: rgb(131, 10, 252);
  color: white;
}
.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 24px;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(51, 65, 255);
}

footer {
  position: fixed;
  bottom: 4px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.danger {
  stroke: rgb(243, 17, 28);
}

@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "head head"
      "clock form"
      "btns ji";
  }
  .btn-group {
    grid-area: btns;
    justify-content: center;
  }
  .clock {
    grid-area: clock;
    height: 100%;
  }
  h1 {
    grid-area: head;

    align-self: center;
  }
  form {
    align-self: center;
    justify-self: center;
    grid-area: form;
    width: 50%;
    justify-content: space-around;
  }
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  form {
    height: 40%;
  }
  footer {
    position: static;
  }
}

/* Dictionary */
:root {
    --box-shadow-color: #9c9c9c;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section .searchForm h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 0px 0px;
    margin: 40px 0px 15px 0px;
    font-weight: 500;
}

section .searchForm input[type=search] {
    min-width: 400px;
    margin: 20px 10px;
    padding: 15px 20px;
    background-color: #ece7e7;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    outline: none;
}

section .searchForm input[type=search]:hover {
    box-shadow: 5px 5px 10px var(--box-shadow-color);
}

section .searchForm input[type=search]:focus {
    box-shadow: 5px 5px 10px var(--box-shadow-color);
}

section .searchForm input[type=button] {
    margin: 0px 20px;
    padding: 15px 40px;
    background-color: #6200ff;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 15px #a8a8a8;
    transition: box-shadow 0.5s;
    outline: none;
}

section .searchForm input[type=button]:hover {
    box-shadow: 5px 5px 15px #aaa;
    background-color: #f1a566;
}

section .searchForm input[type=reset] {
    margin: 0px 0px;
    padding: 15px 40px;
    background-color: #f3b786;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 10px 10px 15px #a8a8a8;
    transition: box-shadow 0.5s;
    outline: none;
}

section .searchForm input[type=reset]:hover {
    box-shadow: 5px 5px 15px #aaa;
    background-color: #f1a566;
}

section .searchResult {
    visibility: hidden;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 10px 400px;
}

section .searchResult div h1 {
   font-size: 35px;
}

section .searchResult div p {
    font-size: 28px;
}